<section class="business">
    <div class="container">
        <h2 class="heading__two business__title">Для бизнеса</h2>
        <div class="swiper business__swiper">
            <div class="swiper-wrapper business__container">
                {{#each business}}
                <div class="swiper-slide business__card">
                    <h5 class="business__card-title">{{this.title}}</h5>
                    <p class="business__card-text">{{this.text}}</p>
                    <button class="business__card-button" data-service="{{this.title}}">{{this.buttonText}}</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>