<footer class="footer">
    <div class="container">
        <div class="footer__grid footer__block-main">
            <h2 class="footer__title">Контакты</h2>
            <ul class="footer__column">
                <li class="footer__heading">По Москве</li>
                <li class="footer__link">
                    <a href="tel:+74951696969">+7 (495) 169-69-69</a>
                </li>
                <li class="footer__heading break">По России</li>
                <li class="footer__link">
                    <a href="tel:+78005506366">+7 (800) 550-63-66</a>
                </li>
                <li class="footer__heading break">SigmaCall</li>
                <li class="footer__link">
                    <a href="../../assets/files/ru.sigmacall.sigma_3.1.6_67.apk" class="footer__link-sigma">Приложение SigmaCall доступно по <strong>ссылке</strong></a>
                </li>
            </ul>
            <div class="footer__column">
                <ul class="footer__contact">
                    <li class="footer__heading">Email</li>
                    <li class="footer__link">
                        <a href="mailto:info@3knet.ru">info@3knet.ru</a>
                    </li>
                </ul>
                <span class="break footer__text">
                    <p>ИНН 1660044965</p>
                    <p>ОГРНИП 1031630255800 / 165955001</p>
                    <p class="footer__license"><br>Лицензии<br>
                        Л030-00114-77/00620186; Л030-00114-77/00082073;<br> 
                        Л030-00114-77/00082072; Л030-00114-77/00082071;<br>
                        Л030-00114-77/00082074; Л030-00114-77/00082075.<br></p>
                </span>
            </div>
        </div>
        <div class="footer__grid footer__block">
            <p class="footer__copyright">© 2023 ООО “3Kнет”</p>
            <a href="../../assets/files/policy.pdf" target="_blank" class="footer__policy">Политика конфиденциальности</a>
            <div class="footer__creator">
                <p>Сайт разрабатывается</p>
                <a href="https://markweber.ru/" target="_blank">
                    <svg width="90" height="22.5" aria-hidden="true">
                        <use xlink:href="#logoMw"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <script>
        const loader = document.querySelector(".loader")
        window.addEventListener("load", () => {
            setTimeout(() => {
                loader.classList.add("loader_disabled")
            }, 2000)
        })
    </script>
</footer>
