<form action="/" class="form" data-parsley-validate>
    <div class="form__container">
        <div class="form__upper">
            <h3 class="form__title">Мы рады вам помочь</h3>
            <p class="form__text">Наши специалисты помогут вам решить любой вопрос. Просто оставьте заявку.</p>
        </div>
        <ul class="form__fields">
            <li>
                <input name="name" type="text" class="form__input" placeholder="Ваше имя" data-parsley-minlength="2"/>
                <span class="form__placeholder">Ваше имя</span>
            </li>
            <li>
                <input name="phone" type="text" class="form__input phone-js" placeholder="+7 999 999 99 99*" data-parsley-required-message="Обязательно поле*" required/>
                <span class="form__placeholder">+7 999 999 99 99*</span>
            </li>
            <li>
                <input name="email" type="email" class="form__input" placeholder="E-mail*" data-parsley-required-message="Обязательно поле*" data-parsley-type-message="Некорректно введен Email" required/>
                <span class="form__placeholder">E-mail*</span>
            </li>
            <li>
                <textarea name="description" class="form__input form__textarea" placeholder="Ваш запрос"></textarea>
                <span class="form__placeholder">Ваш запрос</span>
            </li>
            <input type="hidden" value="" name="service-name" class="form__input form__input-service">
        </ul>
        <div class="form__bottom">
            <button type="submit" class="form__button">Отправить</button>
            <p class="form__text-bottom">
                <span>Нажимая кнопку «Перезвонить мне», вы подтверждаете, что согласны на обработку</span>
                <a href="../../assets/files/policy.pdf" target="_blank">персональных данных</a>
            </p>
        </div>
    </div>
    <div class="form__success">
        <button class="form__success-btn" type="button">
            <svg aria-hidden="false">
                <use xlink:href="#closeIcon"></use>
            </svg>
        </button>
        <h3 class="form__title">Заявка успешна отправлена</h3>
        <p class="form__text">Наши специалисты в ближайшее время с вами свяжуться</p>
    </div>
</form>