<header class="header">
    <div class="container">
        <div class="header__block header__block-logo">
            <a href="/">
                <svg width="100" height="60" aria-hidden="true" class="header__logo">
                    <use xlink:href="#newLogo"></use>
                </svg>
            </a>
            <p class="header__logo-text">Надежный провайдер телекоммуникационных услуг для дома и бизнеса</p>
        </div>
        <div class="header__block header__block-nav">
            <ul class="header__nav">
                <li class="header__heading">По России</li>
                <li class="header__heading">По Москве</li>
                <li class="header__link">
                    <a href="tel:+78005506366">+7 (800) 550-63-66</a>
                </li>
                <li class="header__link">
                    <a href="tel:+74951696969">+7 (495) 169-69-69</a>
                </li>
            </ul>
            <a href="https://lk.3knet.ru/" class="button header__button" target="_blank">Личный кабинет</a>
        </div>
    </div>
</header>