<section class="intro">
    <div class="container">
        <div class="intro__bg"></div>
        <div class="intro__block">
            <h1 class="intro__title">Скоро здесь будет сайт</h1>
            <p class="intro__text">Наш сайт находится в разработке, но вы всегда можете ознакомиться с нашими услугами и оставить заявку на обратную связь</p>
            <button class="intro__button">Связаться с нами</button>
        </div>
    </div>
</section>