<div class="loader">
    <div class="loader__block-logo">
        <div class="loader__block-wifi">
            <svg aria-hidden="false" width="82" height="28" class="loader__block-third">
                <use xlink:href="#thirdEl"></use>
            </svg>
            <svg aria-hidden="false" width="57" height="23" class="loader__block-second">
                <use xlink:href="#secondEl"></use>
            </svg>
            <svg aria-hidden="false" width="19" height="19" class="loader__block-first">
                <use xlink:href="#firstEl"></use>
            </svg>
        </div>
        <svg aria-hidden="false" width="203" height="230" class="loader__block-body">
            <use xlink:href="#bodyLogo"></use>
        </svg>
    </div>
</div>