<section class="services">
    <div class="container">
        <h2 class="heading__two services__title">Наши услуги</h2>
        <div class="swiper services__swiper">
            <div class="swiper-wrapper services__container">
                {{#each services}}
                <div class="swiper-slide services__card-block">
                    <h5 class="services__card-name">{{this.title}}</h5>
                    <button class="services__card-button" data-service="{{this.title}}">{{this.buttonText}}</button>
                    <img src="{{this.image}}" alt="" class="services__card-img">
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>