<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/styles.css" />
    <title>
        {{ title }}
    </title>
</head>

<body class="no-touch">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        {{> sprite }}
    </div>
    {{> loader }}
    <div class="page-content">
        {{> header }}
        <main class="page-main">
            {{#block "main"}}

            {{/block}}
        </main>
        {{> footer }}
        {{> ie-placeholder }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <script src="assets/js/backend.js"></script>
    </div>
</body>

</html>