{{#extend "layout"}}
{{#content "main"}}

<section class="main">
    <div class="main-container">
        {{>intro}}
        {{>services}}
        {{>business}}
        {{>contact}}
        {{>modal}}
    </div>
</section>

{{/content}}
{{/extend}}