@import "mixins";

.parsley-required {
  color: red !important;
  font-size: 1.3rem !important;
  @include breakpoint(tablet) {
    font-size: 2.2rem !important;
  }
}
.parsley-type {
  color: red !important;
  font-size: 1.3rem !important;
  @include breakpoint(tablet) {
    font-size: 2.2rem !important;
  }
}