@import "mixins";

.business {
  width: 100%;
  position: relative;
  z-index: 20;
  .swiper {
    overflow-y: visible !important;
  }
  .container {
    margin-bottom: 9rem;
    @include breakpoint(tablet) {
      padding-top: 5rem;
      margin-bottom: 11rem;
    }
    @include breakpoint(mobile) {
      padding-top: 10rem;
      margin-bottom: 20rem;
    }
  }

  &__title {
    margin-bottom: 5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @include breakpoint(tablet) {
      gap: 0;
      display: flex;
    }
  }

  &__card {
    width: 48rem;
    height: 29.2rem;
    border-radius: 3.2rem;
    padding: 4rem;
    background-color: #F6F6F6;;
    @include breakpoint(tablet) {
      width: 50rem;
      padding: 4rem;
    }
    @include breakpoint(mobile) {
      width: 53rem;
      padding: 5rem;
      height: 40rem;
    }
    @include breakpoint(small-mobile) {
      width: 60rem;
      padding: 5rem;
      height: 40rem;
    }
  }

  &__card-title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -0.9px;
    @include breakpoint(tablet) {
      font-size: 4rem;
    }
    @include breakpoint(mobile) {
      font-size: 5rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 6.5rem;
    }
  }

  &__card-text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.54px;
    width: 100%;
    max-width: 37.5rem;
    margin-top: 2.4rem;
    @include breakpoint(tablet) {
      font-size: 2rem;
      max-width: 50rem;
    }
    @include breakpoint(mobile) {
      font-size: 3rem;
      max-width: 60rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 3rem;
      max-width: 55rem;
    }
  }

  &__card-button {
    @include btn(100%, 5.1rem);
    max-width: 20.3rem;
    border: 1px solid rgba(0, 0, 0, 0.30);
    transition: background-color .3s ease, color .3s ease;
    margin-top: 4rem;
    &:hover {
      background: black;
      color: white;
    }
    @include breakpoint(tablet) {
      max-width: 20rem;
      height: 7rem;
      font-size: 2.3rem;
    }
    @include breakpoint(mobile) {
      max-width: 22rem;
      height: 8rem;
      font-size: 2.5rem;
      margin-top: 3rem;
    }
    @include breakpoint(small-mobile) {
      max-width: 25rem;
      font-size: 3rem;
      margin-top: 3rem;
    }
    &:hover {
      background: black;
      color: white;
    }
  }
}
