@import "mixins";

.contact {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 20;
  @include breakpoint(tablet) {
    height: auto;
    padding: 10rem 0;
  }
  .container {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-image: url("../img/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
}

