@import "mixins";

.footer {
  padding: 9rem 0 1rem;
  width: 100%;
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content:space-between;
  }
  &__block-main {
    color: white;
    width: inherit;
    padding: 6rem 8rem;
    background-color: #38BA5B;
    border-radius: 5.4rem;
    @include breakpoint(tablet) {
      padding: 8rem 8rem;
    }
    @include breakpoint(mobile) {
    }
    @include breakpoint(small-mobile) {
    }
  }
  &__title {
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -1.68px;
    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
      font-size: 6rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 7rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
    opacity: 0.6;
    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
      font-size: 2rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 2.5rem;
    }
  }

  .break {
    margin-top: 4rem;
    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
      margin-top: 5rem;
    }
    @include breakpoint(small-mobile) {
      margin-top: 6rem;
    }
  }

  &__link {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    margin-top: .3rem;
    transition: .2s ease opacity;
    @include breakpoint(tablet) {
      font-size: 3.2rem;
    }
    @include breakpoint(mobile) {
      font-size: 3.5rem;
      margin-top: .5rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 4rem;
      margin-top: 1rem;
    }
    &:hover {
      opacity: .8;
    }
    a {
      color: #FFF;
    }
  }

  &__link-sigma {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    transition: .2s ease opacity;
    width: 100%;
    max-width: 35rem;
    display: block;
    @include breakpoint(tablet) {
      font-size: 3rem;
      max-width: 40rem;
    }
    @include breakpoint(mobile) {
      font-size: 3rem;
      margin-top: .5rem;
      max-width: 40rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 3rem;
      margin-top: 1rem;
      max-width: 40rem;
    }
  }

  &__text {
    display: block;
    p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      opacity: .6;
      @include breakpoint(tablet) {
        font-size: 1.8rem;
      }
      @include breakpoint(mobile) {
        font-size: 2rem;
      }
      @include breakpoint(small-mobile) {
        font-size: 2.2rem;
      }
    }
  }
  &__license {
    font-size: 1.2rem !important;
    @include breakpoint(mobile) {
      font-size: 2rem;
    }
  }

  &__block {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    padding: 0 8rem;
    @include breakpoint(tablet) {
      font-size: 1.8rem;
      margin-top: 3rem;
    }
    @include breakpoint(mobile) {
      font-size: 2rem;
      margin-top: 3rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 2.2rem;
      margin-top: 3rem;
    }
  }

  &__copyright {
    opacity: .6;
  }

  &__policy {
    opacity: .6;
    color: black;
    @media screen and (min-width: 1440px) {
      padding-left: 5rem;
    }
  }

  &__creator {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    opacity: .6;
    svg {
      cursor: pointer;
      @include breakpoint(mobile) {
        width: 12rem;
        height: 4rem;
      }
      @include breakpoint(small-mobile) {
        width: 15rem;
        height: 5rem;
      }
    }
  }
}

.container {
}