@import "mixins";

.form {
  width: 100%;
  max-width: 57.9rem;
  position: relative;
  cursor: default;
  @include breakpoint(tablet) {
    max-width: 60rem;
  }
  @include breakpoint(mobile) {
    max-width: 80rem;
  }
  @include breakpoint(small-mobile) {
    max-width: 90rem;
  }
  &__container {
    padding: 5rem 6rem;
    background: white;
    border-radius: 2.4rem;
    &_disable {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__upper {
    text-align: start;
  }

  &__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.2px;
    @include breakpoint(tablet) {
      font-size: 5rem;
    }
    @include breakpoint(mobile) {
      font-size: 6rem;
    }
    @include breakpoint(small-mobile) {
      letter-spacing: -.5px;
    }
  }

  &__text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.54px;
    width: 100%;
    max-width: 42.7rem;
    margin-top: 1.4rem;
    @include breakpoint(tablet) {
      font-size: 2.5rem;
      max-width: inherit;
    }
    @include breakpoint(mobile) {
      font-size: 3.5rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 4rem;
      max-width: 50rem;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 4rem;
    @include breakpoint(tablet) {
      row-gap: 2rem;
    }
    @include breakpoint(mobile) {
      row-gap: 3rem;
    }
    @include breakpoint(small-mobile) {
      row-gap: 3.5rem;
    }
    li {
      position: relative;
    }
  }

  &__input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 1.2rem;
    padding: 2rem;
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.54px;
    transition: .4s ease all;
    position: relative;
    &.parsley-error {
      border: 1px solid red;
    }
    &_success {
      border: 1px solid #38BA5B;
    }
    @include breakpoint(tablet) {
      font-size: 2.5rem;
      padding: 2.5rem;
    }
    @include breakpoint(mobile) {
      font-size: 2.5rem;
      padding: 2.9rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 3rem;
      padding: 4rem;
    }
    &::placeholder {
      opacity: 0;
    }
    &:placeholder-shown ~ .form__placeholder {
      transform: translateY(-1rem);
      font-size: 1.8rem;
      @include breakpoint(tablet) {
        transform: translateY(-1.5rem);
        font-size: 2.5rem;
      }
      @include breakpoint(mobile) {
        transform: translateY(-2rem);
        font-size: 3.5rem;
      }
      @include breakpoint(small-mobile) {
        transform: translateY(-2rem);
        font-size: 4rem;
      }
    }
    &:focus {
      & ~ .form__placeholder {
        transform: translateY(-2.3rem);
        font-size: 1rem;
        @include breakpoint(tablet) {
          transform: translateY(-3rem);
          font-size: 1.5rem;
        }
        @include breakpoint(mobile) {
          transform: translateY(-3.2rem);
          font-size: 1.5rem;
        }
        @include breakpoint(small-mobile) {
          transform: translateY(-3.4rem);
          font-size: 2rem;
        }
      }
    }
  }
  &__placeholder {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: absolute;
    top: 50%;
    letter-spacing: -0.54px;
    left: 2rem;
    opacity: .6;
    transition: .4s ease all;
    transform: translateY(-2.3rem);
    pointer-events: none;
    @include breakpoint(tablet) {
      left: 2.5rem;
    }
    @include breakpoint(mobile) {
      left: 3rem;
    }
    @include breakpoint(small-mobile) {
      left: 4rem;
    }
  }
  &__textarea {
    height: 14.3rem;
    resize: none;
    transition: color .2s ease, border .2s ease;
    outline: black;
    & ~ .form__placeholder {
      top: 20%;
    }
    @include breakpoint(tablet) {
      height: 15rem;
    }
    @include breakpoint(mobile) {
      height: 18rem;
    }
    @include breakpoint(small-mobile) {
      height: 22rem;
    }
  }
  &__bottom {
    display: flex;
    margin-top: 4rem;
    column-gap: 2.8rem;
  }
  &__text-bottom {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    max-width: 23.1rem;
    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.4rem;

    }
    @include breakpoint(small-mobile) {
      font-size: 2.7rem;
      max-width: 50rem;
    }
    span {
      color: rgba(0, 0, 0, 0.30);
    }
    a {
      color: #38BA5B;
      text-decoration: underline;
    }
  }

  &__button {
    @include btn(100%, 6rem);
    color: white;
    font-weight: 400;
    border: none;
    background: #38BA5B;
    transition: background-color .3s ease;
    &:hover {
      background: #2da14d;
    }
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
      width: 21rem;
      height: 6rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 4rem;
      width: 40rem;
      height: 10rem;
    }
  }
  &__success {
    position: absolute;
    background-color: white;
    padding: 3rem;
    border-radius: 2.4rem;
    top: 30%;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    &_active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__success-btn {
    position: absolute;
    right: 3rem;
    top: 3rem;
    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
  }

  &__text {
  }
}

.parsley-errors-list.filled {
  position: absolute !important;
}

