@import "mixins";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  background: white;
  width: 100%;
  transition: transform .8s ease;
  &_disabled {
    transform: translateY(-20rem);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10.5rem;
    padding: 0 10rem;
    @include breakpoint(small-tablet) {
      height: 12rem;
    }
    @include breakpoint(small-mobile) {
      height: 25rem;
    }
  }
  &__block {
    display: flex;
    align-items: center;
  }

  &__block-logo {
    column-gap: 2.5rem;
    svg {
      display: block;
      width: 5rem;
      height: 7rem;
      @include breakpoint(small-tablet) {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__block-nav {
    column-gap: 6rem;
  }
  &__logo-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.42px;
    width: 100%;
    max-width: 21.4rem;
    opacity: 0.6;
    @include breakpoint(tablet) {
      font-size: 1.8rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2.2rem;
      max-width: 32.5rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 4rem;
      max-width: 50rem;
    }
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: .4rem;
    column-gap: 4rem;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  &__heading {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.36px;
    opacity: .6;
  }
  &__link {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    a {
      color: black;
      transition: .3s ease opacity;
      &:hover {
        opacity: .5;
      }
    }
  }
  &__button {
    border-radius: 5rem;
    height: 5.1rem;
    width: 18.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: -0.36px;
    color: white;
    background-color: #38BA5B;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease background-color;
    cursor: pointer;
    &:hover {
      background-color: #2da14d;
    }
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
      width: 21rem;
      height: 6rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 5rem;
      width: 45rem;
      height: 11.5rem;
    }
  }
}

