@import "mixins";

.intro {
  width: 100%;
  height: calc(100vh - 10.7rem);
  margin-top: 10.7rem;
  position: relative;
  z-index: 20;
  @include breakpoint(small-tablet) {
    height: calc(100vh - 12rem);
  }
  @include breakpoint(small-mobile) {
    height: calc(100vh - 20rem);
  }
  .container {
    display: flex;
    height: inherit;
    padding-top: 8rem;
    padding-bottom: 8rem;
    align-items: flex-end;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url("../img/intro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
  &__block {
    text-align: left;
    position: relative;
    z-index: 10;
    color: white;
  }
  &__title {
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -2.4px;
    @include breakpoint(small-tablet) {
      font-size: 10rem;
      letter-spacing: -.8px;
    }
    @include breakpoint(small-mobile) {
      font-size: 12rem;
      letter-spacing: -.5px;
    }
  }
  &__text {
    width: 100%;
    max-width: 63.3rem;
    color: #FFF;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
    margin-top: 3rem;
    @include breakpoint(small-tablet) {
      font-size: 3rem;
      letter-spacing: -.3px;
      max-width: 70rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 4rem;
      max-width: 90rem;
      margin-top: 6rem;
    }
  }
  &__button {
    @include btn(29rem, 8.2rem);
    background: white;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 105%;
    letter-spacing: -0.36px;
    margin-top: 4.6rem;
    transition: .3s ease opacity;
    @include breakpoint(tablet) {
      font-size: 2.5rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2.5rem;
    }
    @include breakpoint(small-mobile) {
      width: 40rem;
      height: 12rem;
      font-size: 3.7rem;
      margin-top: 10rem;
    }
    &:hover {
      opacity: .8;
    }
  }
}
