@import "mixins";

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease all;
  &_disabled {
    opacity: 0;
    visibility: hidden;
  }
  &__block-logo {
    position: relative;
    width: 22.6rem;
    height: 28rem;
    @include breakpoint(mobile) {
      width: 172.5px;
      height: 205px;
    }
    @include breakpoint(small-mobile) {
      width: 123px;
      height: 140px;
    }
  }
  &__block-wifi {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__block-third {
    width: 8.3rem;
    height: 2.3rem;
    opacity: 0;
    animation: 1s animationThird .4s ease-in-out  infinite;
    @include breakpoint(mobile) {
      width: 70px;
      height: 17px;
    }
    @include breakpoint(small-mobile) {
      width: 65px;
      height: 12px;
    }
  }

  &__block-second {
    width: 5.7rem;
    height: 2rem;
    opacity: 0;
    animation: 1s animationSecond .4s ease-in-out  infinite;
    @include breakpoint(mobile) {
      width: 44px;
      height: 13px;
    }
    @include breakpoint(small-mobile) {
      width: 39px;
      height: 8px;
    }
  }

  &__block-first {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    animation: 1s animationFirst .4s ease-in-out  infinite;
    @include breakpoint(mobile) {
      width: 13px;
      height: 13px;
    }
    @include breakpoint(small-mobile) {
      width: 7px;
      height: 7px;
    }
  }

  &__block-body {
    width: 20.3rem;
    height: 22.7rem;
    opacity: 0;
    animation: .4s animationBody linear forwards;
    position: absolute;
    bottom: 0;
    @include breakpoint(mobile) {
      width: 150px;
      height: 170px;
    }
    @include breakpoint(small-mobile) {
      width: 100px;
      height: 120px;
    }
  }
}

@keyframes animationFirst {
   0% {opacity: 0}
   25% {opacity: 1}
   50% {opacity: 1}
   75% {opacity: 1}
   90% {opacity: 0}
   100% {opacity: 0}
 }
@keyframes animationSecond {
  0% {opacity: 0}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 1}
  90% {opacity: 0}
  100% {opacity: 0}
}
@keyframes animationThird {
  0% {opacity: 0}
  25% {opacity: 0}
  50% {opacity: 0}
  75% {opacity: 1}
  90% {opacity: 0}
  100% {opacity: 0}
}
@keyframes animationBody {
  0% {opacity: 0}
  100% {opacity: 1 }
}

