.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  &_active {
    transition: .4s ease all;
    opacity: 1;
    visibility: visible;
  }
  &__close {
    position: absolute;
    top: 5vh;
  }
}
.modal__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1002;
  cursor: pointer;
}
