@import "mixins";

.services {
  width: 100%;
  position: relative;
  z-index: 20;
  .container {
    padding-top: 9rem;
    padding-bottom: 7.5rem;
    @include breakpoint(tablet) {
      padding-top: 15rem;
    }
    @include breakpoint(mobile) {
      padding-top: 20rem;
    }
  }
  &__title {
    margin-bottom: 5rem;
  }
  &__container {
    display: flex;
    column-gap: 2rem;
    @include breakpoint(tablet) {
      column-gap: 0;
    }
  }
  &__card-block {
    width: 35.5rem;
    height: 35.5rem;
    border-radius: 3.2rem;
    background: #F6F6F6;
    position: relative;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    justify-content: start;
    overflow: hidden;
    @include breakpoint(tablet) {
      width: 40rem;
      height: 40rem;
    }
    @include breakpoint(mobile) {
      width: 42rem;
      height: 45rem;
    }
    @include breakpoint(small-mobile) {
      width: 46rem;
      height: 49rem;
    }
  }

  &__card-name {
    text-align: start;
    font-size: 3rem;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -0.9px;
    @include breakpoint(tablet) {
      font-size: 4rem;
    }
    @include breakpoint(mobile) {
      font-size: 5rem;
    }
    @include breakpoint(small-mobile) {
      font-size: 6.5rem;
    }
  }

  &__card-button {
    @include btn(100%, 5.1rem);
    max-width: 14rem;
    border: 1px solid rgba(0, 0, 0, 0.30);
    transition: background-color .3s ease, color .3s ease;
    @include breakpoint(tablet) {
      max-width: 15rem;
      height: 7rem;
      font-size: 2.3rem;
    }
    @include breakpoint(mobile) {
      max-width: 20rem;
      height: 8rem;
      font-size: 2.5rem;
    }
    @include breakpoint(small-mobile) {
      max-width: 25rem;
      font-size: 3rem;
      margin-top: 1rem;
    }
    &:hover {
      background: black;
      color: white;
    }
  }

  &__card-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23rem;
    height: 20rem;
    @include breakpoint(mobile) {
      width: 32rem;
      height: 27rem;
    }
  }
}

